[2018-03-23 05:35] postphotos opened #1 "Set up Travis CI for the Travel WP theme"

[2018-03-23 05:35] postphotos opened #2 "Set up Pantheon environment for the Travel WP theme"
Not sure if this should go to @ThierryA or @westonruter.

[2018-03-23 05:36] postphotos opened #3 "Bring PSTT theme code to this repo and document any findings"

[2018-03-23 05:38] postphotos opened #4 "Improve deploy scripts to remove deploy blocker in shared testing environment"
AC1: Auto-deploy to Pantheon when new versions of AMP Plugin or theme should occur whenever code is merged into develop.

[2018-03-23 05:38] postphotos opened #5 "As XWP, start working with AMP Start template code for “Travel” and document any findings."

[2018-03-23 05:38] postphotos opened #6 "Create a bootstrapped (WordPress-VIP style) code area so that certain features can be pulled into a plugin if necessary."

[2018-03-23 05:38] postphotos opened #7 "Declare and set up a custom post type for adventure travel results"
**As an editor or author of a site running the Travel theme, I should have a way to built custom content for "adventure" travel results.**
AC1. A custom post type should be declared.
AC2. Some basic output (`the_title`, `the_content`, etc. or just whatever's inside `single`) should be built so that single views work for this post type.

[2018-03-23 05:39] postphotos opened #8 "As a Travel website user, I need a rating to understand review scores on a given post"

[2018-03-23 05:39] postphotos opened #9 "[Gutenberg] Identify areas of the Travel theme’s homepage that can live as discrete theme blocks and document these for future creation."

[2018-03-23 05:39] postphotos opened #10 "[Gutenberg] Identify areas of the Travel theme’s CPT single page that can live as discrete theme blocks and document these for future creation."

[2018-03-23 05:39] postphotos opened #11 "As XWP, Identify what AMP-specific code from the AMPconf theme should be ported over to the Travel theme."

[2018-03-23 12:59] miina commented on #9
We went through the homepage of Travel theme with @DavidCramer to define the custom Gutenberg blocks needed.

Gutenberg custom blocks to be developed for homepage:

1. Search block:
- Would be used in the first search (under "Adventures made easy") and also for the second search (above the footer, under "Have a specific destination in mind?";
- Would have optional display of datepicker, customizab

[2018-03-23 13:17] miina commented on #10
We went through the single page mockup today with @DavidCramer and were considering these blocks:

1. Location block:
- Would basically just display the location of the post (adventure), perhaps a link to other adventures in this location?;
- Configurable: alignment;

Question: Does this need to be configurable or will the location of the post in the static position all the time? (@jwold ) In this

[2018-03-23 20:30] westonruter commented on #9
In general with the blocks, I would say we should implement them according to how you see them in the AMP Start templates as-is to start. Once the blocks are built so that the templates can be re-created, then at that point we can look at ways that they can have customizations to showcase Gutenberg editing. I think that will be more important to focus on later, since the primary thing right now is

[2018-03-26 09:03] miina commented on #9
Okay, sounds good.

In this case the blocks could be:
1. Header block (consists of h1 and h2 subheading);
2. Search block (Search input; datepicker; button);
3. Discover / display post block:
- Secondary header (consists of h2 and div subheading);
- From the blog;
4. Activities list (Browse by activity);
5. Top adventures;
6. Featured destinations;
7. Second search block (search input + button/lin

[2018-03-27 07:13] miina commented on #9
Actually taking it as-is for now, maybe the first "Hero" block could be just one -- consisting of the header + search block.

[2018-03-27 15:28] postphotos commented on #9
Hi @miina, I think that would totally make sense! This issue and #10 are discovery tickets that will lead to _n_ # of new tickets based on what you feel we need. Ideally we have an overlay reflected in the design, too, that outlines what the blocks are to help with QA.

cc @jwold

[2018-03-27 15:59] ThierryA commented on #9
Hi @miina, yes I think that makes perfect sense.

Yes I agree, the Hero block should have the header and search block (with date picker and CTA). Arguably it could even contain the subheader with the Title, Subtitle and From the blog section.

[2018-03-27 16:03] miina commented on #9
Hi @postphotos, on the issues:
Do you think you could create a new issue for creating the base for Gutenberg blocks?
This would include setting up general files + adding a base structure for all the blocks, initially just returning the content taken directly from the Travel template without options to configure.

[2018-03-27 16:34] jwold commented on #9
I'm checking to see if Maxim has availability to support this.

[2018-03-27 17:22] jwold commented on #9
Maxim has availability to help with this and will update with outlines of what design elements are affected by what blocks.

[2018-03-27 19:30] postphotos opened #12 "[Gutenberg] Build a base layer for Homepage"
**As an user of the Travel theme, I should have a way to manage blocks.**

This skeleton layer should allow use of these blocks:
- #14 Hero block (consists of h1 and h2 subheading, Search input; datepicker; button)
- #20 Discover / display post block
- #21 Secondary header (consists of h2 and div subheading)
- #22 From the blog
- #24 Activities list (Browse by activity)
- #23 Top adventures
- #25

[2018-03-27 19:31] postphotos commented on #12
Also, I believe we'll probably do one of these for the CPT, too!

[2018-03-27 19:32] postphotos commented on #9
Linking new Trello card outlining the design task for this issue:
https://trello.com/c/wWfykMhS/30-label-as-an-overlay-the-blocks-for-each-dynamic-layout-for-travel-theme

[2018-03-27 19:49] postphotos commented on #9
**TLDR: MVP should be AMP Start in WP, but if we plan to distribute we should tool for Gutenberg's abilities**

@miina - Just noticed I didn't respond to your questions here and wanted to capture thoughts.

I agree with @westonruter and believe we should shoot for an MVP of a working theme that is as close to AMP start as possible. I've written these to capture thoughts for future tickets based on

[2018-03-29 17:27] miina commented on #7
@postphotos
Quick question to clarify:
Would this ticket be about the custom template for the search results page?
Or is this for the custom post type "Adventure" that would be displayed on the "travel results" page?

[2018-03-29 17:47] postphotos commented on #7
Hi @miina, The word build here was vague - sorry for the confusion! Not sure how we'll handle search or taxonomic listings yet, but I've updated the title of the ticket and added a formal story and AC inside the description here.

A further set of issues will outline blocks for this page so we can allow for parallel completion of tasks here.

Whether that is declared as `adventure` or `travel-resu

[2018-03-29 17:54] postphotos opened #14 "[Gutenberg] Build a hero block for homepage"
**As an user of the Travel theme, I should have a way to manage the Hero block on the homepage.**

AC1: Hero block should consist of:
-  h1 and h2 subheading
- Search input
- datepicker
- button

Based on @miina and @DavidCramer 's discovery in #9. Related to #12.

[2018-03-30 09:33] #1 closed, assigned to ThierryA

[2018-04-03 15:27] postphotos opened #20 "[Gutenberg] Build a "Discover" block for Homepage"
part of the components listed in #12.
The discover / display post block.

As requested (and detailed) by @miina here.

Mockups are available here:
- https://www.figma.com/file/L14jTE7iNGOE7DH57Ro7ncyu/Travel-Theme
- https://ampstart-iframes.firebaseapp.com/templates/travel/travel.amp

[2018-04-03 15:28] postphotos opened #21 "[Gutenberg] Build a "Secondary Header" block for Homepage"
part of the components listed in #12.
Consists of h2 and div subheading.

As requested (and detailed) by @miina here.

Mockups are available here:
- https://www.figma.com/file/L14jTE7iNGOE7DH57Ro7ncyu/Travel-Theme
- https://ampstart-iframes.firebaseapp.com/templates/travel/travel.amp

[2018-04-03 15:29] postphotos opened #22 "[Gutenberg] Build a "From the blog" block for Homepage"
part of the components listed in #12.
Pulls most recent published post.

As requested (and detailed) by @miina here.

Mockups are available here:
- https://www.figma.com/file/L14jTE7iNGOE7DH57Ro7ncyu/Travel-Theme
- https://ampstart-iframes.firebaseapp.com/templates/travel/travel.amp

[2018-04-03 15:31] postphotos opened #23 "[Gutenberg] Build a "Top adventures" block for Homepage"
part of the components listed in #12.

As requested (and detailed) by @miina here.

Mockups are available here:

- https://www.figma.com/file/L14jTE7iNGOE7DH57Ro7ncyu/Travel-Theme
- https://ampstart-iframes.firebaseapp.com/templates/travel/travel.amp

Some notes from #9 apply here:

[2018-04-03 15:31] postphotos opened #24 "[Gutenberg] Build a "Browse by activity" block for Homepage"
part of the components listed in #12.

As requested (and detailed) by @miina here.

Mockups are available here:

- https://www.figma.com/file/L14jTE7iNGOE7DH57Ro7ncyu/Travel-Theme
- https://ampstart-iframes.firebaseapp.com/templates/travel/travel.amp

Some notes from #9 apply here:

[2018-04-03 15:32] postphotos opened #25 "[Gutenberg] Build a "Featured Destinations" block for Homepage"
part of the components listed in #12.

As requested (and detailed) by @miina here.

Mockups are available here:

- https://www.figma.com/file/L14jTE7iNGOE7DH57Ro7ncyu/Travel-Theme
- https://ampstart-iframes.firebaseapp.com/templates/travel/travel.amp

Some notes from #9 apply here:

[2018-04-03 15:32] postphotos opened #26 "[Gutenberg] Build a second search block for Homepage"
part of the components listed in #12.

As requested (and detailed) by @miina here.

Mockups are available here:

- https://www.figma.com/file/L14jTE7iNGOE7DH57Ro7ncyu/Travel-Theme
- https://ampstart-iframes.firebaseapp.com/templates/travel/travel.amp

[2018-04-03 16:03] postphotos opened #27 "Extend "adventure" custom post type with custom taxonomies"
**To power filtering and searching, we need taxonomies for Activities and Locations.**

Related to #10.

[2018-04-03 16:27] miina commented on #22
@postphotos One note: this block would be initially implemented as part of the "Discover" block (#20).

[2018-04-03 16:29] miina commented on #21
@postphotos Looks like this block would also be part of #20 (that's the section where the notes say "Latest blog post, regular post type" in https://www.figma.com/file/L14jTE7iNGOE7DH57Ro7ncyu/Travel-Theme).

[2018-04-03 16:29] postphotos opened #28 "Create conditional logic for home blocks that shows CPT blocks only when CPT exists"
Since these blocks depend on the CPT and its taxonomies, @miina raised a good point: If there were no taxonomy terms, we should hide these blocks (activities etc.).

Depends on #27.

[2018-04-03 17:25] postphotos opened #29 "Create search results page"
**As a user who's entered basic search from the homepage of the `travel` theme, I should see the standard search results (returning the matching "Adventures") in a search grid.**

Mockups are available here:
- https://www.figma.com/file/L14jTE7iNGOE7DH57Ro7ncyu/Travel-Theme
- https://ampstart-iframes.firebaseapp.com/templates/travel/travel.amp

[2018-04-03 17:26] postphotos commented on #29
Further, I'm proposing we adjust copy on the homepage:

So that this search flow makes a bit more sense.

[2018-04-04 09:51] miina commented on #28
@postphotos Feels like it might make sense to implement this within the relevant blocks, thoughts?

[2018-04-04 15:52] miina commented on #25
See Weston's comment on the possible approach: https://xwp.slack.com/archives/C75JEPFDZ/p1522856822000257

The block could try sorting the destinations so that the photos are sorted as (1 portrait|2 landscape)+
But then otherwise fallback to forcing a portrait to be rendered in a landscape slot if otherwise not available.

[2018-04-04 16:05] miina commented on #27
Note that `Adventure` taxonomy has been already added (to some extent) in #30 via `amp_travel_register_taxonomies` in `functions.php`:
https://github.com/xwp/travel/blob/feature/24-activity_list_block/functions.php#L137-L170

[2018-04-05 14:17] postphotos commented on #21
Closed, duplicate #19, #20.

[2018-04-05 14:17] #21 closed, assigned to nobody

[2018-04-05 14:18] postphotos commented on #22
Closed, duplicate #19, #20.

[2018-04-05 14:18] #22 closed, assigned to nobody

[2018-04-05 14:29] postphotos commented on #25
Hi @miina, I'll turn this into real ACs shortly, but just dropping in from yesterday's meeting.
[code]

[2018-04-06 06:46] miina commented on #7
Some details about `adventure` fields:
- needs to have a start date and end date;
- Needs to have a price;
- Needs to have a rating (probably that's not manually editable but maybe would need registering to show up in REST?);

@postphotos Are there any additional fields that I forgot about?

cc @DavidCramer

[2018-04-09 15:22] DavidCramer commented on #3
I've started looking into this today, getting to know the PSTT code and inner workings. Will report findings as I go.

[2018-04-10 16:03] postphotos opened #35 "Generate styling of homepage based on mockups + AMP Start"
**As a user, I expect AMP-valid CSS styling to render on top of the homepage's generated HTML markup.**

Related #12.

Mockups are available here:
- https://www.figma.com/file/L14jTE7iNGOE7DH57Ro7ncyu/Travel-Theme
- https://ampstart-iframes.firebaseapp.com/templates/travel/travel.amp

[2018-04-10 16:07] postphotos opened #36 "Generate styling of adventure CPT single based on mockups + AMP Start"
**As a user, I expect AMP-valid CSS styling to render on top of the adventure CPT single template's generated HTML markup.**

Related to #7.

Mockups are available here:
- https://www.figma.com/file/L14jTE7iNGOE7DH57Ro7ncyu/Travel-Theme
- https://ampstart-iframes.firebaseapp.com/templates/travel/travel.amp

[2018-04-10 16:10] postphotos commented on #10
Hi @miina, based on the above comment, should I generate new issues out for `location` (and potentially `amp-gallery`)? Let me know!

[2018-04-10 16:11] postphotos opened #37 "Generate styling of adventure CPT taxonomy listings based on mockups + AMP Start"
**As a user, I expect AMP-valid CSS styling to render on top of the adventure CPT taxonomy listing's generated HTML markup.**

Related to #27.

Mockups are available here:
- https://www.figma.com/file/L14jTE7iNGOE7DH57Ro7ncyu/Travel-Theme
- https://ampstart-iframes.firebaseapp.com/templates/travel/travel.amp

[2018-04-10 16:20] miina commented on #10
@postphotos Based on the design it looks like there are no Gutenberg blocks needed for the CPT template for now -- it looks like the gallery is out of the post content and the location can be just taken from terms to display on the post.

Guessing that at least now there are no blocks needed. Thoughts, @ThierryA and @westonruter?

[2018-04-11 14:22] ThierryA commented on #10
@miina yes that sounds good. Though, are we still planning on having a field for the price @postphotos?

[2018-04-11 16:34] #12 closed, assigned to miina

[2018-04-11 18:14] #27 closed, assigned to miina

[2018-04-11 21:09] kienstra commented on #6
**Applied, Moving To "Ready For Merging"**

Hi @postphotos,
With @miina's addition of the [includes/](https://github.com/xwp/travel/tree/c361a86f552dcf58881f986a47a089c004d7ebf1/includes) directory for classes in #13, this requirement is fulfilled. I'm moving this into "Ready For Merging," as it doesn't need traditional QA.

[2018-04-11 21:10] #6 closed, assigned to nobody

[2018-04-11 21:19] kienstra commented on #9
**Question About Moving To "Ready For Merging"**

Hi @postphotos,
Though there might be some remaining questions, it seems like this issue's requirements are mainly
satisfied:

Do you think we could move this into "Ready For Merging" to show that it's not awaiting review?

[2018-04-11 21:24] kienstra commented on #25
**Moving To "QA" Column**

The "Featured Destinations" block was part of the merged PR #13. So I'm moving this issue into the "QA" column.

[2018-04-11 21:33] kienstra commented on #27
**Moving To "Ready For Merging" Column**

Merged PR #31 adds taxonomies. So I'm moving this issue to "Ready For Merging."

The pages for the taxonomies could probably use QA. But I don't think this issue needs traditional QA.

[2018-04-11 21:35] kienstra commented on #20
**Moving To "QA" Column**

Merged PR #13 [added a "Discover" block](https://github.com/xwp/travel/pull/13/files#diff-3215f011460155a7b0e289ca288c19ecR8).

[2018-04-12 06:54] miina commented on #25
@kienstra This ticket actually has a separate PR as well which is currently still WIP: #34. What #13 included was displaying static block, however as far as I understand, this ticket is for pulling the content dynamically and is still in process.

[2018-04-12 06:57] miina commented on #20
Hi @kienstra, with this block it's the same as with Featured destinations: what #13 included was displaying static block, however, this ticket is for adding pulling the content dynamically and is still review-iterations stage (#19).

[2018-04-12 18:29] kienstra commented on #25
Thanks for clarifying that, @miina. I moved this back to "In progress."

[2018-04-12 20:44] #20 closed, assigned to miina

[2018-04-12 22:08] #7 closed, assigned to DavidCramer, miina

[2018-04-12 22:30] #23 closed, assigned to miina

[2018-04-12 22:59] #26 closed, assigned to miina

[2018-04-16 18:31] #14 closed, assigned to nobody

[2018-04-17 04:13] kienstra commented on #2
*Closed*

Thanks to @westonruter for setting up the environment for this theme:
https://dev-amp-start-travel.pantheonsite.io/

[2018-04-17 04:18] kienstra commented on #1
**Moving To "Ready For Merging"**

The Travis builds have been working well, and this probably doesn't need functional testing. So if it's alright, I'm moving this to "Ready For Merging."

[2018-04-17 05:54] westonruter commented on #2
The environment is created but it is not set up yet.

[2018-04-17 06:19] miina commented on #28
@postphotos Since we're not going to have CPT blocks for now, perhaps this ticket can be closed? Thoughts?

cc @kienstra

[2018-04-17 10:35] DavidCramer commented on #28
@postphotos - #38 implements the structures of the theme, and has the features ( taxonomies, CPT, and Blocks ) So, the blocks won't exist if the theme features are not enabled, in the event that it is separated to a standalone plugin. Therefore this is technically already done.
cc @kienstra @miina

[2018-04-17 13:55] miina commented on #8
Note that this will be resolved within #39.

[2018-04-18 03:35] westonruter commented on #2
Fixed now by https://github.com/xwp/travel/pull/40

[2018-04-18 03:35] #2 closed, assigned to ThierryA

[2018-04-18 14:19] postphotos opened #43 "Create a default header.php file"
**As a page template, I should call a theme-wide `header.php` file instead of using my own declarations for header.**
AC1: Each page template should call `header.php`.
AC2: Any legacy items that `header.php` already controls should be removed from page templates.

[2018-04-18 14:19] postphotos opened #44 "Create a default footer.php file"
**As a page template, I should call a theme-wide `footer.php` file instead of using my own declarations for footer.**
AC1: Each page template should call `footer.php`.
AC2: Any legacy items that `footer.php` already controls should be removed from page templates.

[2018-04-18 15:13] postphotos commented on #35
@mehigh, can you give us a status update on this so we can update the sprint board? Thanks! :)

[2018-04-18 15:16] #28 closed, assigned to DavidCramer

[2018-04-18 15:16] postphotos commented on #28
Thanks, @DavidCramer and @miina.

[2018-04-18 15:29] kienstra commented on #36
**Request For QA**

Hi Claudio,
Could you please test [this page](http://dev-amp-start-travel.pantheonsite.io/adventure/surfing-day-board-and-wetsuits-included-in-price/#), which uses the single 'adventure' template? Please use the "Product" page from [the design](https://www.figma.com/file/L14jTE7iNGOE7DH57Ro7ncyu/Travel-Theme). The carousel was changed, and is expected to be different.

[2018-04-19 03:20] postphotos opened #49 "[Gutenberg] Mobile styling of “Activity” and “Popular” blocks."
**[Gutenberg] As a visitor on mobile, I should have CSS styling of the “activity” and “popular” blocks as matched with the designs to have a matched experience to desktop visitors.**
AC1. The “Activity” (Browse by activity) and “Popular” (Top Adventures) blocks simply scroll horizontally in mobile displays. They don’t match the Figma design, though they do match the [AMP Start Firebase site](https

[2018-04-19 03:20] postphotos commented on #49
@kienstra asks: @mehigh, would you be available to work on this?

[2018-04-19 03:23] postphotos opened #50 "[Gutenberg] Integrate the ‘Travel Angles’ block into the ‘Hero’ block, update editor display"
**[Gutenberg] As a visitor, I should have the “Travel angles” block inside the “Hero” block with a matched editor and front-end experience.**
AC1. Move the ‘Travel Angles’ block into the ‘Hero’ block.
AC2. Make that block full-width in the editor. For an example of that, add a (native) image block, and set it to ‘Full width.’
AC3. Make the block in the editor look more similar to the front-end. Fo

[2018-04-19 03:23] postphotos commented on #50
@kienstra asks: @miina: would you be available for this?

[2018-04-19 03:24] postphotos opened #51 "[Gutenberg] Explore making titles editable in dynamic blocks"
**[Gutenberg] As XWP, I should explore solutions that make titles easily editable for dynamic blocks to better inform simple solutions**

AC1. Dynamic blocks like ‘Activity List’ don’t allow editing their title (‘Browse by activity’ in that case). @miina pointed out a difficulty in making them editable. So explore how we might do this.

[2018-04-19 03:25] postphotos opened #52 "[Gutenberg] Make block icons more specific to the blocks"
**[Gutenberg] As an author, I need block icons to better contextualize what the custom blocks mean**
AC1. The custom blocks now all have ‘WP’ icons, so change them to something more specific. For example, the ‘Search’ block’s registerBlockType() could have an icon of ‘search.’
https://developer.wordpress.org/resource/dashicons/

@postphotos - Proposed nice to have:
AC2. Identify all of the blocks

[2018-04-19 03:30] postphotos opened #53 "[Gutenberg] Address styling of ‘Hero’ and ‘Discover’ blocks in mobile"
**[Gutenberg] As a site visitor on mobile, I should be able to see all blocks on the home page, including “Hero” and “Discover” to have a matched experience to desktop visitors.**

AC1. These blocks are not displaying on the homepage with a mobile display, so please ensure they display.

Related #12. (See mockups and other general layout notes there.)
See these in deployment here: http://dev-amp-s

[2018-04-19 04:17] kienstra commented on #49
Hi @mehigh,
Would you be available to work on this? Thanks a lot for your work with this theme.

[2018-04-19 04:27] kienstra commented on #44
**Question About Dynamic Data**

There is a [footer.php](https://github.com/xwp/travel/blob/0afa37182211f4ee96d74697bc76a7b9cc279b00/footer.php) now, but, it's static. For example, the "Company" and "Discover" links on the [dev site](http://dev-amp-start-travel.pantheonsite.io/) are static, and the email submission form doesn't work.

Does the footer need dynamic data?

[2018-04-19 06:02] mehigh commented on #49
Yepp, I can and I will.

[2018-04-19 18:21] #51 closed, assigned to miina

[2018-04-20 02:50] kienstra commented on #29
**Upcoming Design Changes**

In the Sprint 4 Planning sync, we talked about some upcoming minor design changes to this. Mainly in the header.

[2018-04-20 02:52] kienstra commented on #37
**Mainly The Same As The search.php Page**

Based on our conversation in the Sprint 4 Planning sync, this template will be very similar to the `search.php` template (#29). Please see the "Results" page on the [design](https://www.figma.com/file/L14jTE7iNGOE7DH57Ro7ncyu/Travel-Theme?node-id=2%3A118).

There might be some minor design work on the header soon. We had mentioned some indication of what

[2018-04-20 04:37] #53 closed, assigned to nobody

[2018-04-20 17:58] postphotos opened #58 "Add dynamic menus in footer.php"
**As a site admin, I should have an easy way to manage the links in the footer.**
AC1: Allow for a site admin to edit these two menu areas using the WP menu features.
AC2: Replace the current hardcoded markup with a standard menu (`walker` etc.) so that a user could manage the sections without needing to edit the theme directly.

Likely low priority but also pretty straightforward, but the current

[2018-04-20 18:22] postphotos opened #59 "Update headings in search and taxonomy listings based on new design"
**As a user of the Travel theme, when I search or visit a page, have context to what kind of page I'm on, what I just did and how to get back to where I just was.**

This is a placeholder ticket to implement design. Currently, Maxim to update Figma mocks with input from @jwold: https://www.figma.com/file/L14jTE7iNGOE7DH57Ro7ncyu/Travel-Theme

Whatever changes will happen will be added here.

Curre

[2018-04-20 18:28] postphotos commented on #59
related to #37.

[2018-04-20 19:06] postphotos opened #60 "Match fonts in editor to those on the front-end"
**Match fonts in editor to those on the front-end**
AC1. As much as possible, please use the same fonts for the ‘Travel’ blocks in the editor as on the front-end.

_as reported by @kienstra_

[2018-04-20 19:11] postphotos opened #61 "[Gutenberg] ‘Hero’ block: Set default values instead of placeholders"
**As an author using a site running the travel theme, I should have contextual sample text to quickly understand what to type to update my website.**
AC1. Change the placeholders from the block’s `<RichText>` into default values.

_as reported by @kienstra, who says he has a PR almost ready for this_

[2018-04-21 21:59] mehigh commented on #35
I've just issued the PR for this and assigned it to Miina for code review:
https://github.com/xwp/travel/pull/62

[2018-04-22 20:52] #43 closed, assigned to miina

[2018-04-23 20:06] kienstra commented on #37
**Remaining: Apply Header Design**

We're still going to apply the header design in [AP2-40](https://xwp-co.atlassian.net/browse/AP2-40) for #59.

[2018-04-23 22:19] kienstra commented on #59
**Request To Apply Designs**

Hi @miina,
Thanks for your work on the `search.php` and `archive.php` templates. Could you please apply the newly-updated designs for those?

https://www.figma.com/file/L14jTE7iNGOE7DH57Ro7ncyu/Travel-Theme

[2018-04-23 23:43] kienstra commented on #50
This was applied in PR #54.

[2018-04-23 23:43] #50 closed, assigned to miina

[2018-04-24 14:54] #60 closed, assigned to nobody

[2018-04-25 14:50] #59 closed, assigned to miina

[2018-04-26 01:37] #44 closed, assigned to miina

[2018-04-26 18:52] westonruter commented on #4
This was completed.

[2018-04-26 18:52] #4 closed, assigned to westonruter

[2018-04-27 21:16] postphotos opened #73 "[Gutenberg] Use dynamic images in the carousel at the top of the single "adventure" page"
**As an content author working on adventure posts, I want an easy way to manage images that display in the carousel of the single "adventure" page.**

- [x] AC1. Please allow setting the images that appear in the single ‘adventure’ page carousel, via the Gutenberg editor. For example, https://dev-amp-start-travel.pantheonsite.io/adventure/surfing-day-board-and-wetsuits-included-in-price/
- [x] AC2

[2018-04-27 21:34] kienstra commented on #73
**Possible Solution**

Hi @miina,
What do you think about this approach to making the carousel images dynamic?

* The 'featured image' for each adventure is the first image in the carousel. If there are no images added below, it's the only one.
* We add an ‘Additional Carousel Images’ section at the bottom of the 'Extended Settings' section that would allow adding more images to the carousel.
* Th

[2018-04-27 21:47] kienstra commented on #23
**Request For Testing**

Hi Claudio,
Could you please test this block?

1. [Create a new page](http://dev-amp-start-travel.pantheonsite.io/wp-admin/post-new.php?post_type=page)
2. Add a "Popular Adventures" block

<img width="1432" alt="popular-adventures-block" src="https://user-images.githubusercontent.com/4063887/39386459-507540cc-4a3a-11e8-840d-2b15fd194689.png">

Expected:
* It matches the [d

[2018-04-27 21:52] kienstra commented on #25
**Request For Testing**

Hi Claudio,
Could you please test this block?

1. [Create a new page](http://dev-amp-start-travel.pantheonsite.io/wp-admin/post-new.php?post_type=page)
2. Add a "Featured Destinations" block

<img width="1427" alt="add-featured-dest" src="https://user-images.githubusercontent.com/4063887/39386622-27113d8e-4a3b-11e8-9ec2-bf44aeb6de99.png">

Expected:
* It matches the [desig

[2018-04-27 21:57] kienstra commented on #29
**Request For Testing**

Hi Claudio,
Could you please test the [search page](https://dev-amp-start-travel.pantheonsite.io/?s=surfing&start=&end=)?

Expected:
* It matches the [design](https://www.figma.com/file/L14jTE7iNGOE7DH57Ro7ncyu/Travel-Theme?node-id=2%3A118)
* You can search in the 2 places here:
<img width="1425" alt="search-page" src="https://user-images.githubusercontent.com/4063887/3938

[2018-04-27 22:02] kienstra commented on #14
**Request For Testing**

Hi Claudio,
Could you please test this block?

1. [Create a new page](http://dev-amp-start-travel.pantheonsite.io/wp-admin/post-new.php?post_type=page)
2. Add a "Hero" block

Expected:
* It matches the [design](https://www.figma.com/file/L14jTE7iNGOE7DH57Ro7ncyu/Travel-Theme?node-id=1%3A9) for desktop and mobile
* It's responsive in the editor and the front-end
* The text

[2018-04-27 22:06] kienstra commented on #58
**Request For Testing**

Hi Claudio,
Could you please test this? Please ensure the menu [shown here](https://github.com/xwp/travel/pull/64#issuecomment-383709525) appears in the footer of pages, including the [homepage](http://dev-amp-start-travel.pantheonsite.io/)

[2018-04-27 22:09] kienstra commented on #37
**Request For Testing**

Hi @csossi,
Could you please test this?

1. The [archive page](http://dev-amp-start-travel.pantheonsite.io/activity/active/) matches the [design](https://www.figma.com/file/L14jTE7iNGOE7DH57Ro7ncyu/Travel-Theme?node-id=553%3A69)
2. It's responsive
3. The search forms in the header and footer work

[2018-04-27 22:26] kienstra commented on #8
**Request For Testing**

Hi Claudio,
Could you please test this?

1. You can make a comment with a rating on a [single adventure page](https://dev-amp-start-travel.pantheonsite.io/adventure/discover-oaxacas-electronic-music-scene-with-a-top-dj/)
2. That rating appears as part of the averaged rating at the top of the page, and the [search page](https://dev-amp-start-travel.pantheonsite.io/?s=oaxaca

[2018-04-27 22:30] kienstra commented on #24
**Request For Testing**

Hi Claudio,
Could you please test this block?

1. [Create a new page](http://dev-amp-start-travel.pantheonsite.io/wp-admin/post-new.php?post_type=page)
2. Add an "Activity List" block

Expected:
* It matches the [design](https://www.figma.com/file/L14jTE7iNGOE7DH57Ro7ncyu/Travel-Theme?node-id=1%3A9) for desktop and mobile
* It's responsive in the editor and the front-end
*

[2018-04-28 00:51] kienstra commented on #26
**Request For Testing**

Hi Claudio,
Could you please test this block?

1. [Create a new page](http://dev-amp-start-travel.pantheonsite.io/wp-admin/post-new.php?post_type=page)
2. Add a "Search" block

Expected:
* It matches the [design](https://www.figma.com/file/L14jTE7iNGOE7DH57Ro7ncyu/Travel-Theme?node-id=1%3A9)
* The text here is editable:

<img width="1432" alt="search-block-text" src="https

[2018-04-28 00:56] kienstra commented on #20
**Request For Testing**

Hi Claudio,
Could you please test this block?

1. [Create a new page](http://dev-amp-start-travel.pantheonsite.io/wp-admin/post-new.php?post_type=page)
2. Add a "Discover" block

Expected:
* It matches the [design](https://www.figma.com/file/L14jTE7iNGOE7DH57Ro7ncyu/Travel-Theme?node-id=1%3A9)
* It displays well on desktop and mobile
* The text here is editable:

<img widt

[2018-04-28 00:59] kienstra commented on #35
**Request For Testing**

Hi Claudio,
Could you please test the [homepage](http://dev-amp-start-travel.pantheonsite.io/), comparing it to the [design](https://www.figma.com/file/L14jTE7iNGOE7DH57Ro7ncyu/Travel-Theme?node-id=1%3A9)?

[2018-04-30 01:07] kienstra commented on #73
Hi @miina,
Feel free to work on this if you'd like. Otherwise, I will 😄

[2018-04-30 12:08] DavidCramer commented on #73
@kienstra @miina I don't mind woking on this 😄 if nobody objects.

[2018-04-30 13:29] miina commented on #73
@DavidCramer No objections from me, go for it!

[2018-04-30 16:46] kienstra commented on #73
Sounds good, @DavidCramer!

[2018-05-01 15:27] #73 closed, assigned to DavidCramer, miina

[2018-05-01 15:52] kienstra commented on #73
**Deployed, UI As Shown In Description**

Hi @ThierryA,
@DavidCramer's PR for this, #73, is now deployed to the [dev site](https://dev-amp-start-travel.pantheonsite.io/adventure/surfing-day-board-and-wetsuits-included-in-price/). Though I haven't yet added the additional images for the carousel in the editor.

The UI is as shown in the description.

[2018-05-02 08:00] ThierryA commented on #73
Awesome, thanks @kienstra

[2018-05-02 17:53] postphotos opened #76 "Use the AMP ‘Star Rating’ component for single adventures"
_As a site visitor, I want an intuitive way to rate an adventure._

- [x] AC1. Use the AMP ‘Star Rating’ feature for the comment on the single ‘adventure’ page, in place of the current ‘Your rating’ `<select>` element.

https://ampbyexample.com/advanced/star_rating/
https://dev-amp-start-travel.pantheonsite.io/adventure/surfing-

As reported by @kienstra and IP by @DavidCramer in #75.

[2018-05-02 18:26] csossi commented on #23
Verified in QA:
Win10 - Edge, Chrome, FFox
MacOSX - Safari, Chrome
iOS11.3 - Safari, Chrome
Android7.0 - Chrome

[2018-05-02 18:55] csossi commented on #36
@kienstra - Was the styling of share icons meant to change from this (design):
![image](https://user-images.githubusercontent.com/16945664/39543295-c0ff2a1a-4e18-11e8-9221-5786d9adf1c1.png)
to this:
![image](https://user-images.githubusercontent.com/16945664/39543318-cf694a4a-4e18-11e8-8cca-9f50708032a0.png)

[2018-05-02 20:26] mehigh commented on #36
@csossi
The amp-share component doesn't give flexibility to change the color of the icon, but only the color of the background.

https://ampstart.com/components#links-and-sharing
Screenshot of the important bit:
http://cloud.urldocs.com/1N3T1D1b3438

For follow icons (linking to the actual social pages of the website for example), one can use SVGs and hence any color needed for the icons themselve

[2018-05-03 09:17] ThierryA opened #77 "AMP Validation error"
There seem to be an error with the search amp list array.

<img width="643" alt="screen shot 2018-05-03 at 11 14 23 am" src="https://user-images.githubusercontent.com/3581402/39568730-70050d90-4ec3-11e8-9e96-16579911d9a2.png">

You can see the error on the [home page](https://dev-amp-start-travel.pantheonsite.io/).

[2018-05-03 09:29] DavidCramer commented on #77
@ThierryA I see the issue. The endpoint is not giving the right structure. Will sort it out.

[2018-05-03 14:24] DavidCramer commented on #77
@postphotos This was a larger problem than just validation. In the ampstart theme ( https://ampstart-iframes.firebaseapp.com/templates/travel/travel.amp ) they tried to implement a predictive search on the search box. However, the template code in the demo is broken so it's not functioning. This broken code was implemented into Travel.
I have corrected it now in #79 but it wont function yet since

[2018-05-03 17:08] #76 closed, assigned to nobody

[2018-05-04 18:14] #77 closed, assigned to DavidCramer

[2018-05-05 14:59] csossi commented on #8
Rating section captures moveover/click as user moves cursor from right to left rather than left to right in IE11 (all other browsers fine):
![image](https://user-images.githubusercontent.com/16945664/39664496-c104e5e6-5051-11e8-99e1-212f1411dc12.png)

Recommending more space between fields and label below it:
![image](https://user-images.githubusercontent.com/16945664/39664564-17415b78-5053-11e8-8

[2018-05-05 19:36] csossi commented on #24
Created activity block page and published to http://dev-amp-start-travel.pantheonsite.io/qa-activity-list-block/

Should the page title "QA - Activity List Block" be appearing anywhere here (I see it as the page title tag, but should it be on page as well?

[2018-05-05 19:54] csossi commented on #26
Added a search block to post at http://dev-amp-start-travel.pantheonsite.io/wp-admin/post.php?post=202&action=edit. Published, but am not seeing it on Site

[2018-05-05 20:01] csossi commented on #29
Compared to https://ampstart-iframes.firebaseapp.com/templates/travel/travel-results.amp - not seeing the filter/sort options on Site.

[2018-05-06 05:57] DavidCramer commented on #8
The star rating is actually not supported in IE11. I did not know this as it was not mentioned in the example https://ampbyexample.com/advanced/star_rating/

@kienstra I think we should have it switch to the old select box if IE11 is detected.

[2018-05-06 20:03] kienstra commented on #8
**Star Rating In IE11**

Hi @DavidCramer,
Good idea to use the old `<select>` for ratings  in the [output function](https://github.com/xwp/travel/blob/9e7ba6416e2c28f4b658e669b22c69ac1c3f2d40/includes/functions.php#L168) if it detects IE11. I think the global `$is_IE` should be good for this, as 11 is the only version of IE [that WordPress supports](https://make.wordpress.org/core/2017/04/23/targe

[2018-05-06 20:05] kienstra commented on #8
**Thanks For Testing**

Hi @csossi,
Thanks for catching these issues.

Thanks, we'll work on a fix for that.

Good point. PR #80 (awaiting merge) should handle that.

[2018-05-06 20:14] kienstra commented on #29
**Filters**

Hi @csossi,
Good point, thanks for bringing up the lack of filters.

@postphotos, could you please confirm if we decided not to implement the filters on the search page from the [design](https://www.figma.com/file/L14jTE7iNGOE7DH57Ro7ncyu/Travel-Theme?node-id=2%3A118)? I remember a conversation about not having filters, but I'm not sure what the decision was.

Thanks!

<img width="979

[2018-05-06 20:25] kienstra commented on #26
Hi @csossi,
The block looks to appear on the [front-end of that URL](http://dev-amp-start-travel.pantheonsite.io/?page_id=202&preview=true) now, but one of the 'Search' blocks shows this error in the editor:

Does it also appear on the front-end for you?

[2018-05-06 20:36] kienstra commented on #24
**Page Title**

Hi @csossi,

Good question. I don't think that's a problem, as the title doesn't appear on the [home page](http://dev-amp-start-travel.pantheonsite.io/). Which is the only place we expect the blocks to be right now.

[2018-05-07 04:57] DavidCramer commented on #8
@kienstra Ye, I can do it today. Will be pretty easy.

[2018-05-07 17:42] csossi commented on #20
The only QA comment here is perhaps making the default colour of the subheading darker - much too  hard to read on an image background:
![image](https://user-images.githubusercontent.com/16945664/39678400-16324b40-515a-11e8-873c-338716570503.png)

[2018-05-07 22:51] csossi commented on #14
verified in QA for all browsers except for IE11:
![image](https://user-images.githubusercontent.com/16945664/39728997-969062f4-5227-11e8-8651-5a30198aa188.png)

[2018-05-08 14:11] postphotos opened #83 "Display listing of taxonomic options in Adventure CPT"
**As an author of travel adventures, I should have hints to let me know what categories already exist inside the Gutenberg Editor context.**
AC1: An engageable (partial or full) listing of what adventures, hinting at what they might want to do, will allow an author to tag each article faster.

[2018-05-08 15:00] postphotos opened #84 "Listings tagged with multiple taxonomies should render that list on front end"
**As a user reading about an adventure, I expect to see more details (like which cities I can find this).**
AC1: Instead of showing just the first location, it should show a full list.
AC2: If I, as a user, click on that name of place, it should go back to the taxonomy listing for that place, i.e. I click on Chicago and I go to `/location/chicago/`

[2018-05-08 20:02] kienstra commented on #8
**Status**

Thanks to @DavidCramer's PR #81, all of the points here are applied, expect for:

[2018-05-08 22:41] kienstra commented on #5
**Question About Documentation**

Hi @postphotos,
It sounds like this documentation would fit will in a wiki page in this repo. What kind of topics should this documentation include?

[2018-05-08 22:43] kienstra commented on #10
**Question About Documentation**

Hi @postphotos,
It sounds like this documentation would fit will in a wiki page in this repo.

What should this documentation cover?

It sounds like "future creation" refers to documenting our steps, so someone could follow them in creating another theme from an [amp-start templates](https://github.com/ampproject/ampstart/tree/master/css/templates).

[2018-05-10 12:48] csossi commented on #25
Background image not appearing in IE11:
![image](https://user-images.githubusercontent.com/16945664/39870281-c254e4a6-542e-11e8-81ec-e2c9f2b1aa28.png)

[2018-05-10 17:25] csossi commented on #35
Thought it best to just point out all differences - am sure some are likely "ok as is"

Site: "Search for adventures" - Design: "Where would you like to go?" (2 locations)
Site: "Start date" - Design: "Departure"
Site: End date - Design: "Return"
Site: "From The Blog" - Design: "From the blog" (plus, "blog" box is much larger in Design than on Site)
Site: "Top Adventures" - Design: "Top Adventures

[2018-05-11 21:31] kienstra commented on #35
**Request To Verify**

Hi @csossi,
Thanks for bringing up these points.

@postphotos, could you please verify that we're alright with the first 3 points that @csossi raised above?

The last 2 points are (mainly) [corrected](http://dev-amp-start-travel.pantheonsite.io/) with changes in the editor:

[2018-05-11 21:47] kienstra commented on #20
**Context Of Block**

Hi @csossi,
That's a good point. I should have added that we only expect this block on the [homepage](http://dev-amp-start-travel.pantheonsite.io/), where the background of the block will be white.

[2018-05-11 21:54] kienstra commented on #25
**Question About Images**

Hi @csossi,
Thanks for testing this. Could you elaborate on "background image not appearing"?

IE11: http://dev-amp-start-travel.pantheonsite.io/
![bs_win10_ie_11 0](https://user-images.githubusercontent.com/4063887/39948506-eb2c5e1e-553b-11e8-9687-0e1b98a0883a.jpg)

[2018-05-11 21:59] kienstra commented on #14
**IE 11 Support**

Hi @csossi,
Thanks for testing this with IE11, as I asked. Given that AMP [doesn't pledge support of Internet Explorer](https://www.ampproject.org/support/faqs/supported-browsers), I'm going to move this to "Done."

[2018-05-14 18:03] #61 closed, assigned to nobody

[2018-05-14 18:04] #58 closed, assigned to miina

[2018-12-15 12:07] siddiqrahman opened #85 "how can i set up home page?"
i have tried to create home page in at that theme. but i couldn't see any hero blocks in there. please help me!!

[2019-05-06 07:33] siddiqrahman opened #87 "Hero Block is not showing gutenberg plugin"